@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
<script type="text/javascript">
    var tempOverlay;
    var northEast;
    var southWest;
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(41.008430, 28.994327),
            zoom: 8
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  google.maps.drawing.OverlayType.RECTANGLE
                ]
            },
            rectangleOptions: {
                fillColor: '#ffff00',
                fillOpacity: 0.1,
                strokeWeight: 5,
                clickable: true,
                editable: true,
                draggable: true,
                zIndex: 1
            }
        });

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
            if (event.type == google.maps.drawing.OverlayType.RECTANGLE) {
                if (tempOverlay != undefined && tempOverlay != null) {
                    tempOverlay.setMap(null);
                }
                tempOverlay = event.overlay;

                northEast = tempOverlay.getBounds().getNorthEast();
                southWest = tempOverlay.getBounds().getSouthWest();
                $("#choosenCoordinate1").html("<span style='color:#006600;'>" + northEast.lat() + "</span>,<span style='color:#669900;'>" + northEast.lng() + "</span>");
                $("#choosenCoordinate2").html("<span style='color:#800000;'>" + southWest.lat() + "</span>,<span style='color:#FF0000;'>" + southWest.lng() + "</span>");

                google.maps.event.addListener(tempOverlay, 'rightclick', function (event) {
                    tempOverlay.setMap(null);
                    tempOverlay = null;
                    $("#choosenCoordinate1").html("");
                    $("#choosenCoordinate2").html("");
                });

                google.maps.event.addListener(tempOverlay, 'bounds_changed', function (event) {
                    northEast = $(this)[0].getBounds().getNorthEast();
                    southWest = $(this)[0].getBounds().getSouthWest();
                    $("#choosenCoordinate1").html("<span style='color:#006600;'>" + northEast.lat() + "</span>,<span style='color:#669900;'>" + northEast.lng() + "</span>");
                    $("#choosenCoordinate2").html("<span style='color:#800000;'>" + southWest.lat() + "</span>,<span style='color:#FF0000;'>" + southWest.lng() + "</span>");
                });
            }
        });

        drawingManager.setMap(map);
    }
    $(function () {
        $(".button-collapse").sideNav();
        $("#map-canvas").width("100%");
        $("#map-canvas").height($(document).height());
        initialize();
    });
</script>
<ul id="slide-out" class="side-nav fixed" style="padding-top:10px;">
    <li><a class="waves-effect waves-light btn" href="#">Save</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<nav>
    <div class="nav-wrapper">

        <a href="#" class="brand-logo center"><span id="choosenCoordinate1"></span><span>-</span><span id="choosenCoordinate2"></span></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn center" href="#">Save</a></li>
        </ul>
    </div>
</nav>
<div id="map-canvas"></div>
